/*Header*/
nav {
  text-align: center; }
  nav a {
    text-decoration: none;
    background-color: black;
    color: #c218b4;
    text-decoration: none;
    font-size: large;
    border: 1px solid #ae11bd;
    padding: 5px;
    margin: 5px 10px 15px 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    nav a:hover {
      width: 150px;
      height: 40px;
      transition: height, width, 10s; }

/*Footer*/
footer {
  text-align: right; }
  footer address a {
    color: violet;
    text-decoration: none; }
    footer address a:hover {
      color: white; }

.contacto a {
  text-decoration: none;
  color: violet; }
  .contacto a:hover {
    color: white; }

/*Index*/
.local {
  background-image: url(../img/local3.jpg);
  color: violet;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.grid-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, 200px);
  grid-template-areas: "noticia-1 noticia-1";
  display: flex;
  justify-content: center; }

.noticia-1 {
  grid-area: noticia-1;
  background-color: blueviolet; }

fieldset {
  border-width: 15px;
  border-color: violet; }

fieldset .fieldset {
  border-style: double; }

/*Marcas y Prendas*/
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.carousel-item {
  margin-left: 400px;
  margin-top: 15px; }

/*Media*/
@media screen and (max-width: 1000px) {
  .grid-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, 200px);
    grid-template-areas: "casilla-1 casilla-1"; }
  .noticia-1 {
    grid-area: noticia-1;
    background-color: #3f9dd3; }
  .grid4 {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, 200px); } }

@media only screen and (min-width: 620px) and (max-width: 840px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media only screen and (max-width: 619px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr); } }

fieldset {
  border-width: 15px;
  border-color: violet; }

/*Contacto*/
.grid4 {
  background-color: white;
  text-align: left; }

/*General*/
.camelcase {
  padding: 20px;
  margin: 15px;
  font-size: 20px; }

body {
  background-color: black;
  color: white; }
